/* style.css */


/* Add a border around the body */
body {
    background-color: #fffdfa; /* White background color */
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add padding around the body */
}

.rectangle {
    background-color: #f8e9d5; /* Beige background color */
    width: 725px; /* Set the width of the container */
    margin: 0px auto; /* Center the container vertically and horizontally */
    padding-top: 10px; /* Add padding inside the container */
    padding-bottom: 3px; /* Add padding inside the container */
}



/* Define font-face for your custom font */
@font-face {
    font-family: 'sequel-sans-semi'; /* Name for your custom font */
    src: url('fonts/sequel-sans-semi-bold-body.ttf') format('truetype'); /* Path to your font file */
}


@font-face {
    font-family: 'sequel-sans-book'; /* Name for your custom font */
    src: url('fonts/sequel-sans-book-disp.ttf') format('truetype'); /* Path to your font file */
}



/* Use the custom font for the title */
.title {
    font-family: 'sequel-sans-semi', sans-serif; /* Use your custom font */
    font-size: 115px; /* Adjust font size as needed */
    color: #040709; /* Text color */
    text-align: center; /* Center align the title */
    letter-spacing: -5px; /* Adjust letter spacing as needed */
    margin-top: -20px;
    margin-left: -100px; /* Add padding around the title */
    margin-bottom: 0px;
}

.subtitle {
    font-family: 'sequel-sans-book', sans-serif; /* Use your custom font */
    font-size: 30px; /* Adjust font size as needed */
    color: #040709; /* Text color */
    text-align: center; /* Center align the title */
    letter-spacing: -1px; /* Adjust letter spacing as needed */
    margin-top: 0px;
    margin-left: -550px; /* Add padding around the title */
    margin-bottom: 0px;
}






.footer {
    text-align: center; /* Center align text */
    margin-top: -5px; /* Add space between containers and copyright section */
}

.footer p {
    font-family: 'sequel-sans-semi', sans-serif; /* Use your custom font */
    font-size: 10px; /* Adjust font size as needed */
    color: #040709; /* Text color */
    letter-spacing: -0.5px; /* Adjust letter spacing as needed */
}




.container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.container img {
    width: auto; /* Set width */
    height: 650px; /* Maintain aspect ratio */
    margin-right: 10px; /* Set spacing between images */
}

.container img:last-child {
    margin-right: 0; /* Remove margin from last image */
}

.container a {
    margin-right: 50px; /* Set spacing between images */
}

.container a:last-child {
    margin-right: 0; /* Remove margin from last image */
}


/* Style for the button */
.btn {
    display: inline-block;
    padding-bottom: 0px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect */
.btn:hover {
    background-color: #69b7f7;
}

.btn img {
    width: auto; /* Set width */
    height: 40px; /* Maintain aspect ratio */
    padding: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

@media only screen and (max-width: 1000px) {
    /* Add a border around the body */
    body {
        background-color: #fffdfa; /* White background color */
        margin: 0; /* Remove default margin */
        padding: 10px; /* Add padding around the body */
    }

    .rectangle {
        background-color: #f8e9d5; /* Beige background color */
        width: 550px; /* Set the width of the container */
        margin: 0px auto; /* Center the container vertically and horizontally */
        padding-top: 10px; /* Add padding inside the container */
        padding-bottom: 3px; /* Add padding inside the container */
    }



    /* Define font-face for your custom font */
    @font-face {
        font-family: 'sequel-sans-semi'; /* Name for your custom font */
        src: url('fonts/sequel-sans-semi-bold-body.ttf') format('truetype'); /* Path to your font file */
    }


    @font-face {
        font-family: 'sequel-sans-book'; /* Name for your custom font */
        src: url('fonts/sequel-sans-book-disp.ttf') format('truetype'); /* Path to your font file */
    }



    /* Use the custom font for the title */
    .title {
        font-family: 'sequel-sans-semi', sans-serif; /* Use your custom font */
        font-size: 75px; /* Adjust font size as needed */
        color: #040709; /* Text color */
        text-align: center; /* Center align the title */
        letter-spacing: -5px; /* Adjust letter spacing as needed */
        margin-top: -20px;
        margin-left: -50px; /* Add padding around the title */
        margin-bottom: 0px;
    }

    .subtitle {
        font-family: 'sequel-sans-book', sans-serif; /* Use your custom font */
        font-size: 20px; /* Adjust font size as needed */
        color: #040709; /* Text color */
        text-align: center; /* Center align the title */
        letter-spacing: -1px; /* Adjust letter spacing as needed */
        margin-top: 0px;
        margin-left: -450px; /* Add padding around the title */
        margin-bottom: 0px;
    }






    .footer {
        text-align: center; /* Center align text */
        margin-top: -5px; /* Add space between containers and copyright section */
    }

    .footer p {
        font-family: 'sequel-sans-semi', sans-serif; /* Use your custom font */
        font-size: 7px; /* Adjust font size as needed */
        color: #040709; /* Text color */
        letter-spacing: -0.5px; /* Adjust letter spacing as needed */
    }




    .container {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .container img {
        width: auto; /* Set width */
        height: 400px; /* Maintain aspect ratio */
        margin-right: 5px; /* Set spacing between images */
    }

    .container img:last-child {
        margin-right: 0; /* Remove margin from last image */
    }

    .container a {
        margin-right: 25px; /* Set spacing between images */
    }

    .container a:last-child {
        margin-right: 0; /* Remove margin from last image */
    }


    /* Style for the button */
    .btn {
        display: inline-block;
        padding-bottom: 0px;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
    }

    /* Hover effect */
    .btn:hover {
        background-color: #69b7f7;
    }

    .btn img {
        width: auto; /* Set width */
        height: 20px; /* Maintain aspect ratio */
        padding: 0px;
        margin-bottom: 0px;
        vertical-align: middle;
    }
}