/* style.css */



/* Add a border around the body */
body {
    background-color: #fffdfa; /* White background color */
    margin: 0 0; /* Remove default margin */
    padding: 10px; /* Add padding around the body */
}

.rectangle {
    transform: scale(1);
    background-color: #f8e9d5; /* Beige background color */
    width: 725px; /* Set the width of the container */
    height: 885px;
    margin: 0 auto; /* Center the container vertically and horizontally */
    padding-top: 10px; /* Add padding inside the container */
    padding-bottom: 3px; /* Add padding inside the container */
    
}





/* Use the custom font for the title */
.title {
    position: absolute;
    left: 5px;
    top: 10px;

    font-family: sans-serif; /* Use your custom font */
    font-weight: bold;
    font-size: 115px; /* Adjust font size as needed */
    color: #040709; /* Text color */

    text-align: center; /* Center align the title */
    letter-spacing: -5px; /* Adjust letter spacing as needed */


    margin-top: -20px;
    margin-left: 0px; /* Add padding around the title */
    margin-bottom: 0px;
    margin-right: 0px;

}



.subtitle {
    position: absolute;
    left: 12px;
    top: 120px;



    font-family: sans-serif; /* Use your custom font */
    font-weight: normal;
    font-size: 30px; /* Adjust font size as needed */
    color: #040709; /* Text color */
    text-align: center; /* Center align the title */
    letter-spacing: 0px; /* Adjust letter spacing as needed */
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}




.footer {
    text-align: center; /* Center align text */
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.footer p {
    font-family: sans-serif; /* Use your custom font */
    font-weight: bold;
    font-size: 10px; /* Adjust font size as needed */
    color: #040709; /* Text color */
    letter-spacing: -0.5px; /* Adjust letter spacing as needed */
}




.home-pictures-container {
    position:absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0%);

    display: flex;
    justify-content: center;
}

.home-pictures-container img {
    width: auto; /* Set width */
    height: 650px; /* Maintain aspect ratio */
    margin-right: 10px; /* Set spacing between images */
    padding-bottom: 10px;
}

.home-pictures-container img:last-child {
    margin-right: 0; /* Remove margin from last image */
    padding-bottom: 10px;
}




.social-buttons-container {
    position:absolute;
    top: 825px;
    left: 50%;
    transform: translate(-50%, 0%);

    display: flex;
    justify-content: center;
}

.social-buttons-container a {
    margin-right: 50px; /* Set spacing between images */
}

.social-buttons-container a:last-child {
    margin-right: 0; /* Remove margin from last image */
}

/* Style for the button */
.social-button {
    display: inline-block;
    padding-bottom: 9px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect */
.social-button:hover {
    background-color: #f1ca97;
}

.social-button img {
    width: auto; /* Set width */
    height: 40px; /* Maintain aspect ratio */
    padding: 0px;
    margin-bottom: -10px;
    vertical-align: middle;
}

.nav-buttons {
    position: absolute; /* Position absolute for positioning */
    top: 5px; /* Align to the top of the container */
    right: 5px; /* Align to the right of the container */
    display: flex; /* Use flexbox for vertical alignment */
    flex-direction: column; /* Stack buttons vertically */
    padding: 0;
    margin: 0px;
}

.nav-buttons a {
    margin-top: 3.25px; /* Add spacing between buttons */
    margin-right: 10px;

    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: sans-serif; /* Use your custom font */
    font-weight: normal;
    font-size: 25px; /* Adjust font size as needed */
    text-decoration: none;
    color: #040709; /* Text color */
    text-align: right; /* Center align the title */
    letter-spacing: -1px; /* Adjust letter spacing as needed */
}

.nav-buttons a:hover{
    font-weight: bold; /* Use your custom font */
}

.bold-link {
    font-weight: bold !important;
}


.embed-container {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
}


.contact-form {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 20px;

    background-color: #b0d2cf;

    border-style: outset;
    border-color:#445c6d;
    border-width: 5px;
    
    width: 600px;
}

.contact-form input {
    height: 20px;
    width: 270px;
    background: none;
    
    
    border-style:outset;
    border-color:#445c6d;
    border-width: 5px;

    padding: 5px;
    margin-bottom: 20px;
    margin-right: 10px;


    border-right: none;
    border-top: none;


    font-family: sans-serif;
    font-size: 15px;
    color: #040709;
}

.contact-form textarea {
    height: 100px;
    width: 570px;
    background: none;
    resize: none;
    
    
    border-style: outset;
    border-color:#445c6d;
    border-width: 5px;

    padding: 5px;
    margin-bottom: 20px;

    border-right: none;
    border-top: none;


    font-family: sans-serif;
    font-size: 15px;
    color: #040709;
}

.contact-form button {
    padding: 5px;


    background-color: #b0d2cf;

    border-color:#445c6d;
    border-width: 5px;

    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #040709;
}


@media only screen and (max-height: 905px) {
    /* Adjust scale for smaller screens */
    .rectangle {
        transform: translate(0%, -10%) scale(0.8); /* Scale down by 0.8 times */
        transform-origin: center;
    }
}

@media only screen and (max-width: 745px) {
    /* Adjust scale for smaller screens */
    .rectangle {
        transform: translate(-5%, 0%) scale(0.9); /* Scale down by 0.8 times */
        transform-origin: center;
    }
}

@media only screen and (max-width: 672.5px) {
    /* Adjust scale for smaller screens */
    .rectangle {
        transform: translate(-10%, 0%) scale(0.8); /* Scale down by 0.8 times */
        transform-origin: center;
    }
}

@media only screen and (max-width: 600px) {
    /* Adjust scale for smaller screens */
    .rectangle {
        transform: translate(-15%, -10%) scale(0.7); /* Scale down by 0.8 times */
        transform-origin: center;
    }
}

@media only screen and (max-width: 527.5px) {
    /* Adjust scale for smaller screens */
    .rectangle {
        transform: translate(-20%, -15%) scale(0.6); /* Scale down by 0.8 times */
        transform-origin: center;
    }
}

@media only screen and (max-width: 455px) {
    /* Adjust scale for smaller screens */
    .rectangle {
        transform: translate(-25%, -20%) scale(0.5); /* Scale down by 0.8 times */
        transform-origin: center;
    }
}